
.home-container {
  background-color: white; 
  height: 100vh;
  margin: 0;
  text-align: center;
}

.feature-access-error{
  color: red;
  font-size: 2rem;
  text-align: center;
  margin-top: 20px;
}